<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Evaluate News NLP</title>
  </head>
  <body>
    <header>
      <div class="logo">
        Evaluate News NLP
      </div>
    </header>
    <main>
      <section>
        <h1>Write your text or the url (including protocol) on the following textarea to be analyzed:</h1>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <textarea id="textToAnalyze" type="text" name="input" value=""></textarea>
          <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
        </form>
      </section>
      <section>
        <strong>Form Results:</strong>
        <div id="results"></div>
      </section>
    </main>
  </body>
</html>
